<% layout('layouts/boilerplate') %>

    <div class="event-container">
        <div class="row">
            <div class="col-lg-6 m-auto">

                <% if (currentUser) { %>
                    <div class="col-lg-6 mx-auto mt-3">
                        <div class="card-body row">
                            <div class="d-grid gap-2 mb-3 mx-auto">
                                <a class="btn btn-primary" href="/events/new"><i class="bi bi-pin-angle"></i> Pin New
                                    event</a>
                            </div>
                        </div>
                    </div>
                    <% } else { %>
                        <div class="alert alert-secondary text-center mt-3" role="alert">
                            <a class="text-dark" href="/register">Register</a> or <a class="text-dark"
                                href="/login">Login</a>
                            to Pin a New Event!
                        </div>
                        <% } %>

                            <% for (event of events) { %>
                                <div class="card mb-3" id="section<%= event._id %>">
                                    <div class="card-header">
                                        <span class="text-muted">
                                            <i class="bi bi-geo-alt">
                                            </i>
                                            <a class="text-muted" href="/spots/<%= event.spot._id %>">
                                                <%= event.spot.name %>
                                            </a>
                                            <%= event.spot.location %>
                                        </span>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <!-- Calendar illustration -->
                                                <div class="cal-frame mx-auto">
                                                    <div class="date-frame">
                                                        <span>
                                                            <%= event.date.getDate() %>
                                                        </span>
                                                    </div>
                                                    <div class="month-frame">
                                                        <span>
                                                            <%= monthArray[event.date.getMonth()] %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <p class="card-title"></p>
                                                <p class="h4 mb-0">
                                                    <%= event.title %>
                                                </p>
                                                <p class="text-muted"><i class="bi bi-pin-angle"></i> Pinned by <%=
                                                        event.author.username %>
                                                </p>

                                                <p class="card-text">
                                                    <%= event.description %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <% if (currentUser && event.author.equals(currentUser._id)) { %>
                                        <div class="card-body row">
                                            <div class="d-grid gap-3 col-sm-6 mx-auto mb-3">
                                                <a href="/events/<%= event._id %>/edit" class="btn btn-info"><i
                                                        class="bi bi-pencil"></i>
                                                    Edit</a>
                                            </div>
                                            <form action="/events/<%= event._id %>/<%= event.spot._id %>?_method=DELETE"
                                                method="POST" class="d-grid gap-3 col-sm-6 mx-auto mb-3">
                                                <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i>
                                                    Delete
                                                    Event</button>
                                            </form>

                                        </div>
                                        <% } %>

                                            <div
                                                class="card-footer text-muted d-flex justify-content-end align-items-center">
                                                <div class="">
                                                    <span id="following<%= event._id %>" class="me-n3">
                                                        <%= event.following.length %>
                                                    </span>
                                                    <% if (currentUser && event.following.some(i=>
                                                        i.equals(currentUser._id))) { %>
                                                        <button id="<%=event._id %>" class="follow-event btn btn-sm 
                                                text-success rounded-circle"><i
                                                                class="bi bi-bookmark-fill"></i></button>
                                                        <% } %>
                                                            <% if (currentUser && !event.following.some(i=>
                                                                i.equals(currentUser._id))) { %>
                                                                <button id="<%= event._id %>" class="follow-event btn btn-sm 
                                                        text-muted rounded-circle"><i
                                                                        class="bi bi-bookmark"></i></button>
                                                                <% } %>
                                                </div>
                                            </div>
                                </div>
                                <% } %>
            </div>
        </div>
    </div>

    <script src="/javascript/axios.js"></script>
    <script src="/javascript/followEvent.js"></script>