<% layout('layouts/boilerplate') %>

    <div class="event-container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <% for (event of events) { %>
                    <div class="card mb-3">
                        <div class="card-header">
                            <span class="text-muted">
                                <i class="bi bi-geo-alt">
                                </i>
                                <a class="text-muted" href="/spots/<%= event.spot._id %>">
                                    <%= event.spot.name %>
                                </a>
                                <%= event.spot.location %>
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <!-- Calendar illustration -->
                                    <div class="cal-frame mx-auto">
                                        <div class="date-frame">
                                            <span>
                                                <%= event.date.getDate() %>
                                            </span>
                                        </div>
                                        <div class="month-frame">
                                            <span>
                                                <%= monthArray[event.date.getMonth()] %>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <p class="card-title"></p>
                                    <p class="h4 mb-0">
                                        <%= event.title %>
                                    </p>
                                    <p class="text-muted"><i class="bi bi-pin-angle"></i> Pinned by <%=
                                            event.author.username %>
                                    </p>

                                    <p class="card-text">
                                        <%= event.description %>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <% if (currentUser && event.author.equals(currentUser._id)) { %>
                            <div class="card-body row">
                                <div class="d-grid gap-3 col-sm-6 mx-auto mb-3">
                                    <a href="/spots/<%= event._id %>/edit" class="btn btn-info"><i
                                            class="bi bi-pencil"></i>
                                        Edit</a>
                                </div>
                                <form action="/events/<%= event._id %>/<%= event.spot._id %>?_method=DELETE"
                                    method="POST" class="d-grid gap-3 col-sm-6 mx-auto mb-3">
                                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Delete
                                        Event</button>
                                </form>

                            </div>
                            <% } %>

                                <div class="card-footer text-muted d-flex justify-content-between align-items-center">
                                    <div class="py-1">
                                        <%= event.rsvps.length %> interested
                                    </div>
                                    <div id="rsvp<%= event._id %>" class="">

                                        <% if (currentUser && !event.rsvps.some(i=> i.equals(currentUser._id))) { %>
                                            <button id="<%=event._id %>" class="follow-event btn btn-sm text-secondary"><i
                                                    class="bi bi-bookmark-fill"></i></button>
                                            <% } if (currentUser && event.rsvps.some(i=> i.equals(currentUser._id))) { %>
                                                <button id="<%= event._id %>"
                                                    class="unfollow-event btn btn-sm text-success"><i
                                                        class="bi bi-bookmark-fill"></i></button>
                                                <% } %>
                                    </div>
                                </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>

    <script src="/javascript/axios.js"></script>
    <script src="/javascript/rsvp.js"></script>