<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row">
            <div class="d-inline">
                <span class="text-muted fw-bold">Username:</span>
                <%= currentUser.username %>
                    <!-- <span><i class="bi bi-pencil"></i></span> -->
            </div>
        </div>
        <div class="row">
            <div class="d-inline">
                <span class="text-muted fw-bold">Email:</span>
                <%= currentUser.email %>
                    <!-- <span><i class="bi bi-pencil"></i></span> -->
            </div>
        </div>
        <div class="row">
            <div class="d-inline">
                <span class="text-muted fw-bold">Location:</span>
                <%= currentUser.location %>
                    <a class="btn btn-sm" href="/account/location"><span><i class="bi bi-pencil"></i></span></a>
            </div>
            <% if (!currentUser.location) { %>
            <div class="text-primary">
                <a href="/account/location">
                    Set your location so we can organise spots by what's closest to you
                </a>
            </div>
            <% } %>
        </div>
        <% if (currentUser.location) { %>
        <div style="width: 50vw;">
            <div id="map" class="mb-3" style='width: auto; height: 300px;'></div>
        </div>
        <% } %>
        <a href="/password" class="btn btn-secondary">Change Password</a>
    </div>

    <script>
        const mbx = '<%- process.env.MAPBOX_TOKEN %>';
        const zoom = 6;
    </script>
    <script>
        const spot = <%- JSON.stringify(currentUser) %>;
    </script>
    <script src="/javascript/pageMapShow.js"></script>