<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Spot Guide</h1>
            </div>
            <div class="col-lg-6 overflow-scroll limit-height" id="show-spots">

                <% if (currentUser) { %>
                    <div class="col-lg-6 mx-auto mt-3">
                        <div class="card-body row">
                            <div class="d-grid gap-2 mb-3 mx-auto">
                                <a class="btn btn-primary" href="/spots/new"><i class="bi bi-pin-angle"></i> Pin New
                                    Spot</a>
                            </div>
                        </div>
                    </div>
                    <% } else { %>
                        <div class="alert alert-secondary text-center mt-3" role="alert">
                            <a class="text-dark" href="/register">Register</a> or <a class="text-dark"
                                href="/login">Login</a>
                            to Pin a New Spot!
                        </div>
                        <% } %>


                            <% for (let spot of spots) { %>
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <i class="bi bi-geo-alt"></i>
                                        <a href="geo:51.498169,-0.049067">
                                            <%= spot.location %>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <!-- Image -->
                                                <img src="https://images.unsplash.com/photo-1523225078415-687408717027?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=745&q=80"
                                                    class="img-thumbnail" alt="">
                                            </div>
                                            <div class="col-sm-8">
                                                <p class="card-title"></p>
                                                <p class="h4 mb-0">
                                                    <a href="/spots/<%= spot._id %>">
                                                        <%= spot.name %>
                                                    </a>
                                                </p>
                                                <span class="text-muted">
                                                    <i class="bi bi-pin-angle"></i> Pinned by <%= spot.author.username
                                                        %>
                                                </span>
                                                </p>

                                                <p class="card-text">
                                                    <%= spot.details %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="card-footer text-muted d-flex justify-content-between align-items-center">
                                        <div class="py-1">
                                            <i class="bi bi-calendar2-week"></i>
                                            <% if (spot.events.length) { %>
                                                <%= spot.events.length %> Event<%= spot.events.length> 1 ? 's' : '' %>
                                                        <% } else { %>
                                                            No Events Scheduled
                                                            <% } %>
                                        </div>
                                        <div class="">
                                            <% if (currentUser && spot.following.some(i=> i.equals(currentUser._id))) { %> 
                                            <button id="<%=spot._id %>" class="follow-spot btn btn-sm 
                                                text-success rounded-circle"><i
                                                    class="bi bi-bookmark-fill"></i></button>
                                                <% } %>
                                                <% if (currentUser && !spot.following.some(i=> i.equals(currentUser._id))) { %>
                                                    <button id="<%=spot._id %>" class="follow-spot btn btn-sm 
                                                        text-muted rounded-circle"><i
                                                            class="bi bi-bookmark"></i></button>
                                                    <% } %> 
                                        </div>
                                    </div>
                                </div>
                                <% } %>
            </div>
        </div>
    </div>

    <script src="/javascript/axios.js"></script>
    <script src="/javascript/followSpot.js"></script>