<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="https://images.unsplash.com/photo-1523225078415-687408717027?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=745&q=80"
                    class="img-fluid" alt="">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="bi bi-geo-alt"></i>
                        <a href="geo:51.498169,-0.049067">
                            <%= spot.location %>
                        </a>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">
                            <%= spot.name %>
                        </h1>
                        <p class="card-text text-muted"><i class="bi bi-pin-angle"></i> Pinned by <%=
                                spot.author.username %>
                        </p>
                        <p class="card-text">
                            <%= spot.details %>
                        </p>
                    </div>
                    <% if (currentUser && spot.author.equals(currentUser._id)) { %>
                        <div class="card-body row">
                            <div class="d-grid gap-3 col-sm-6 mx-auto mb-3">
                                <a href="/spots/<%= spot._id %>/edit" class="btn btn-info"><i class="bi bi-pencil"></i>
                                    Edit</a>
                            </div>
                            <div class="d-grid gap-3 col-sm-6 mx-auto mb-3">
                                <a href="/spots/<%= spot._id %>?_method=DELETE" class="btn btn-danger"><i
                                        class="bi bi-trash"></i> Delete</a>
                            </div>

                        </div>
                        <% } %>
                </div>
            </div>

            <div class="col-lg-6">




                <div class="col-lg-6 mx-auto mt-3">
                    <form action="/events/<%= spot._id %>" method="POST">
                        <div id="new-event" class="collapse">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="title-addon">Title</span>
                                <input type="text" id="title" name="event[title]" class="form-control"
                                    placeholder="What is the event called?" aria-label="title"
                                    aria-describedby="title-addon">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="bi bi-calendar2-event"></i></span>
                                <input id="day" name="event[day]" type="number" class="form-control" placeholder="dd"
                                    aria-label="Day" aria-describedby="basic-addon1" min=1 max=31 step=1 maxlength="2"
                                    required>
                                <input id="month" name="event[month]" type="number" class="form-control"
                                    placeholder="mm" aria-label="Month" min=1 max=12 step=1 maxlength=2 required>
                                <input id="year" name="event[year]" type="number" class="form-control"
                                    placeholder="yyyy" aria-label="Year" min=2021 max=3000>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Details</span>
                                <textarea id="event" name="event[description]" class="form-control"
                                    aria-label="With textarea"></textarea>
                            </div>
                            <div class="d-grid gap-2 mb-3 mx-auto">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        <div class="d-grid gap-2 mb-3 mx-auto">
                            <button id="open-event-form" class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#new-event" aria-expanded="false" aria-controls="collapseForm"><i
                                    class="bi bi-pin-angle"></i>
                                Pin New Event</button>
                        </div>
                    </form>
                </div>

                <div class="event-container">
                    <% for (event of spot.events) { %>
                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- Calendar illustration -->
                                        <div class="cal-frame mx-auto">
                                            <div class="date-frame">
                                                <span>
                                                    <%= event.date.getDate() %>
                                                </span>
                                            </div>
                                            <div class="month-frame">
                                                <span>
                                                    <%= monthArray[event.date.getMonth()] %>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-7 mx-2">
                                        <p class="card-title"></p>
                                        <p class="h4 mb-0">
                                            <%= event.title %>
                                        </p>
                                        <span class="text-muted">
                                            <i class="bi bi-pin-angle"></i> Pinned by <%= event.author.username %>
                                        </span>
                                        </p>

                                        <p class="card-text">
                                            <%= event.description %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% if (currentUser && event.author.equals(currentUser._id)) { %>
                                <div class="card-body row">
                                    <div class="d-grid gap-3 col-sm-6 mx-auto mb-3">
                                        <a href="/spots/<%= spot._id %>/edit" class="btn btn-info"><i
                                                class="bi bi-pencil"></i>
                                            Edit</a>
                                    </div>
                                    <form action="/events/<%= event._id %>/<%= spot._id %>?_method=DELETE" method="POST"
                                        class="d-grid gap-3 col-sm-6 mx-auto mb-3">
                                        <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Delete
                                            Event</button>
                                    </form>

                                </div>
                                <% } %>

                                    <div
                                        class="card-footer text-muted d-flex justify-content-between align-items-center">
                                        <div class="py-1">
                                            <%= event.rsvps.length %> interested
                                        </div>
                                        <div id="rsvp<%= event._id %>" class="">
                                            <% if (currentUser && !event.rsvps.some(i=> i.equals(currentUser._id))) { %>
                                                <button id=<%=event._id %> class="rsvp btn btn-sm btn-secondary"><i
                                                        class="bi bi-bookmark-fill"></i>
                                                    RSVP</button>
                                                <% } if (currentUser && event.rsvps.some(i=> i.equals(currentUser._id)))
                                                    { %>
                                                    <span class="badge bg-success fs-6"><i
                                                            class="bi bi-bookmark-fill"></i></span>
                                                    <% } %>
                                        </div>
                                    </div>
                        </div>
                        <% } %>
                </div>

            </div>
        </div>
    </div>

    <script>
        const eventBtn = document.querySelector('#open-event-form');
        const eventForm = document.querySelector('#new-event');

        eventBtn.addEventListener('click', (e) => {
            e.preventDefault();
            //eventForm.classList.toggle('d-none');
            eventBtn.classList.toggle('btn-primary');
            eventBtn.classList.toggle('btn-danger');
            if (eventBtn.innerHTML === 'Cancel') {
                eventBtn.innerHTML = '<i class="bi bi-pin-angle"></i> Pin Event';
            } else eventBtn.innerHTML = 'Cancel'
        })
    </script>
    <script src="/javascript/axios.js"></script>
    <script src="/javascript/rsvp.js"></script>


    <!-- 
    <a href="/spots/<%= spot._id %>/edit">Edit</a>
    <form action="/spots/<%= spot._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <a href="/spots">All Spots</a> -->