<% layout('layouts/boilerplate') %>

    <h1>
        <%= spot.name %>
    </h1>
    <h2>
        <%= spot.location %>
    </h2>
    <p>
        <%= spot.details %>
    </p>
    <a href="/spots/<%= spot._id %>/edit">Edit</a>
    <form action="/spots/<%= spot._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <a href="/spots">All Spots</a>
